<div id="forms" class="page-layout simple fullwidth" fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text"> My Profile</span>
            </div>
            <div class="h1 mt-16">My Profile</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->

            <form (ngSubmit)="myProfile()" name="myProfile" [formGroup]="profileForm" novalidate class="mat-card mat-elevation-z4 p-24 mr-24"
                fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">

                <!-- <div class="h2 mb-24">Reactive Form Example</div> -->

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="100">
                        <input matInput placeholder="Company Name" formControlName="company">
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="First name" formControlName="firstName">
                        <mat-error *ngIf="profileForm.get('firstName').hasError('required')">
                            First name is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Last name" formControlName="lastName">
                        <mat-error *ngIf="profileForm.get('lastName').hasError('required')">
                            Last name is required
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50">
                        <input type="email" matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="profileForm.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="!profileForm.get('email').hasError('required') &&
                        profileForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="User Name" formControlName="username">
                        <mat-error *ngIf="profileForm.get('username').hasError('required')">
                            User Name is required
                        </mat-error>
                    </mat-form-field>
                    <br>

                </div>

                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field fxFlex="50" *ngIf="displayRole">
                        <mat-select placeholder="Admin Type" formControlName="adminType" required>
                            <mat-option *ngFor="let const_type of type_formats" [value]="const_type.type">
                                {{const_type.type_value }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="profileForm.get('adminType').hasError('required')">
                            Admin Type is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50" *ngIf="displayStatus">
                        <mat-select placeholder="Status" formControlName="isActive" required>
                            <mat-option *ngFor="let const_status of adminstatus" [value]="const_status.status">
                                {{const_status.status_value }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="profileForm.get('isActive').hasError('required')">
                            Status is required
                        </mat-error>
                    </mat-form-field>

                </div>

                <div fxlayout="row" fxlayoutalign="start center">

                    <button mat-raised-button color="accent" class="submit-button" aria-label="SUBMIT" [disabled]="profileForm.invalid">
                        SUBMIT
                    </button>
                </div>

            </form>

            <!-- / REACTIVE FORM EXAMPLE -->

        </div>


    </div>
    <!-- / CONTENT -->

</div>